.Button {
    width: 500px;
    height: 50px;
    color: black;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61dafb;
    outline: none;
    border-radius: 15px;
}